<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true" bootstrap="./bootstrap.php">
  <testsuites>
    <testsuite name="AbstractStrategy">
      <file>src/AbstractStrategyTest.php</file>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist addUncoveredFilesFromWhitelist="false">
      <directory suffix=".php">../src</directory>
    </whitelist>
  </filter>
  <logging>
    <log type="coverage-html" target="coverage" />
  </logging>
</phpunit>