<?xml version="1.0" encoding="UTF-8"?>
<phpunit 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  colors="true" 
  bootstrap="./bootstrap.php" 
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
  displayDetailsOnTestsThatTriggerDeprecations="true"
  displayDetailsOnTestsThatTriggerErrors="true"
  displayDetailsOnTestsThatTriggerNotices="true"
  displayDetailsOnTestsThatTriggerWarnings="true"
  displayDetailsOnPhpunitDeprecations="true"
>
  <coverage>
    <report>
      <html outputDirectory="coverage"/>
    </report>
  </coverage>
  <logging/>
  <source>
    <include>
      <directory suffix=".php">../src</directory>
    </include>
  </source>
  <testsuites>
    <testsuite name="AbstractStrategy">
      <file>src/AbstractStrategyTest.php</file>
    </testsuite>
    <testsuite name="AbstractRecursiveCache">
      <file>src/AbstractRecursiveCacheTest.php</file>
    </testsuite>
    <testsuite name="AbstractTemplateRenderer">
      <file>src/AbstractTemplateRendererTest.php</file>
    </testsuite>
    <testsuite name="MustacheTemplateRenderer">
      <file>src/MustacheTemplateRendererTest.php</file>
    </testsuite>
    <testsuite name="SOME">
      <file>src/SOMETest.php</file>
    </testsuite>
    <testsuite name="Text">
      <file>src/TextTest.php</file>
    </testsuite>
    <testsuite name="TwigTemplateRenderer">
      <file>src/TwigTemplateRendererTest.php</file>
    </testsuite>
  </testsuites>
</phpunit>
